<p-card header="Current Date" class="timezone-card-container">
    @if (timezoneData$ | async; as data) {
        @if (data.loading) {
            <p>Updating date...</p>
        } @else if (data.error) {
            <div class="error-container">
                <p class="error-label">Error: </p>
                <p class="error-message">{{ data.error }}</p>
            </div>
        } @else if (data.currentDateTime) {
            <p class="current-date-time">{{ data.currentDateTime | date:'medium' }}</p>
        }

        <p-button
                (click)="refreshDateTime()"
                [disabled]="data.loading"
                label="Update Date"
                icon="pi pi-refresh"
                class="p-button-primary"
        />
    }
</p-card>
